body {
    font-family: 'Helvetica';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: white;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

nav li {
    float: left;
    display: inline;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ff4c4c;
    color: white;
}

li a:hover:not(.active) {
    background-color: #ff6666;
    color: white;
}

li a:hover {
    background-color: #ff9999;
}
/* List */

ul {
  width: 65%;
  margin: auto;
    list-style: none;

}

li {

    background-color: pink;
    width: 500px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;

}

.delete {
    display: none;
    margin-left: auto;
}

li .delete {
    display: block;
}

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
    margin-top: 20px;
}
